<launch>
      <node pkg="voztts" type="voztts.exe" name="voztts"
            output="screen" required="true" args="">
      </node>

      <arg name="autorestart" default="false" />
      <node pkg="voztts" type="marytts_server.bash" name="marytts_server"
            output="screen"  launch-prefix="sudo -S" args="$(arg autorestart)"/>
      
</launch>
